$tx-white: white;
$bg-color-GREEN: #3fbbc0;

.text-green {
    color: #3fbbc0;
}

.container1 {
    margin: auto;
    max-width: 1400px;
}

header {

    position: sticky;
    top: 0.1px;
    z-index: 2;
    background-color: #fff;
    height: 120px;

    .header_top_div {
        background-color: $bg-color-GREEN;
        color: $tx-white;
        padding: 8px;
    }

    button {
        width: 150px;
        height: 30px;
        font-size: 13px;
        border: 0px;
        background-color: $bg-color-GREEN;
        color: $tx-white;
        font-weight: bold;
        border-radius: 5px;
    }

    select {
        border: 0px;
        width: 85px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    ul {
        width: 100%;
        float: right;
    }

    ul li {
        display: inline-block;
        margin-left: 15px;
        font-size: 13px;
    }

    nav {
        width: 100%;
        padding: 20px;
    }

    img {
        width: 170px;
        margin-right: 430px;
    }
}

.sec1 {

    .carousel {
        position: relative;
        z-index: 1;
    }

    .carousel-item {
        height: 700px;
    }

    .carousel-caption {
        background-color: white;
        height: 200px;
        margin-top: -200px;
        color: black;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: $bg-color-GREEN;
        border-radius: 50px;
        padding: 8px;
        width: 60px;
        height: 60px;
        margin-top: 350px;
        margin: 350px 100px 0px 100px;
    }
}

//section 2//
.sec2 {
    margin-top: 100px;

    .col-3 {
        width: 330px;
        margin-left: 20px;
        height: 250px;
        background: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

        i {
            margin: 40px 0px 0px 10px;
        }
    }

    .col-3:hover {
        background-color: $bg-color-GREEN;
        color: white;
        transition: 0.7s;

        i {
            color: white;
            transition: 0.7s;
        }
    }
}

//section 3//
.sec3 {
    background-color: #3fbbc0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    .emdi1 {
        padding-top: 120px;
        text-align: center;
        color: #fff;

        .back11 {
            color: white;
            padding: 12px 50px;
            font-weight: bold;
        }

        .back11:hover {
            background-color: white;
            color: #3fbbc0;
            transition: 0.6s;
            border: none;
        }

    }
}

//section 4//
.sec4 {
    text-align: center;

    .col {
        font-size: 13px;
        text-align: left;
    }
}

//section 5//
.sec5 {
    .col-2 {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        margin: 0px 50px;

        i {
            color: #3fbbc0;
        }
    }
}

//section 6//

.sec6 {
    font-size: 13px;

    i {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        color: $bg-color-GREEN;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 20px;
    }

    .ic:hover {
        i {
            color: white;
            background-color: $bg-color-GREEN;
            transition: 0.7s;
        }

        h4 {
            color: $bg-color-GREEN;
            transition: 0.7s;
        }
    }
}

//section 7//

.sec7 {
    .col-3 {
        margin: 0px 55px;

        i {
            color: $bg-color-GREEN;
            border-radius: 50px;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            padding: 20px;
        }
    }

    .col-3:hover {
        h4 {
            color: $bg-color-GREEN;
            transition: 0.7s;
        }
    }
}

//section 8//

.sec8 {
    .col-4 {

        input,
        select {
            paddding: 10px;
            width: 95%;
            height: 40px;
        }

        input,
        select::placeholder {
            padding-left: 20px;
        }
    }

    button {
        width: 300px;
        background-color: $bg-color-GREEN;
        color: white;
        margin-left: 550px;
    }
}

//section 9//

.sec9 {
    .dep {
        border-right: 3px solid $bg-color-GREEN;

        li {
            display: block;
            font-weight: 600;
            padding-top: 12px;
        }
    }
}

.sec10 {

    .vv1 {

        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    }

}


.sec11 {

    .vv2 {

        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .vv3{
        margin-left: 160px;
    }

}