.text-green {
  color: #3fbbc0;
}

.container1 {
  margin: auto;
  max-width: 1400px;
}

header {
  position: sticky;
  top: 0.1px;
  z-index: 2;
  background-color: #fff;
  height: 120px;
}
header .header_top_div {
  background-color: #3fbbc0;
  color: white;
  padding: 8px;
}
header button {
  width: 150px;
  height: 30px;
  font-size: 13px;
  border: 0px;
  background-color: #3fbbc0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
header select {
  border: 0px;
  width: 85px;
}
header a {
  text-decoration: none;
  color: #000;
}
header ul {
  width: 100%;
  float: right;
}
header ul li {
  display: inline-block;
  margin-left: 15px;
  font-size: 13px;
}
header nav {
  width: 100%;
  padding: 20px;
}
header img {
  width: 170px;
  margin-right: 430px;
}

.sec1 .carousel {
  position: relative;
  z-index: 1;
}
.sec1 .carousel-item {
  height: 700px;
}
.sec1 .carousel-caption {
  background-color: white;
  height: 200px;
  margin-top: -200px;
  color: black;
}
.sec1 .carousel-control-prev,
.sec1 .carousel-control-next {
  background-color: #3fbbc0;
  border-radius: 50px;
  padding: 8px;
  width: 60px;
  height: 60px;
  margin-top: 350px;
  margin: 350px 100px 0px 100px;
}

.sec2 {
  margin-top: 100px;
}
.sec2 .col-3 {
  width: 330px;
  margin-left: 20px;
  height: 250px;
  background: #fff;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.sec2 .col-3 i {
  margin: 40px 0px 0px 10px;
}
.sec2 .col-3:hover {
  background-color: #3fbbc0;
  color: white;
  transition: 0.7s;
}
.sec2 .col-3:hover i {
  color: white;
  transition: 0.7s;
}

.sec3 {
  background-color: #3fbbc0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.sec3 .emdi1 {
  padding-top: 120px;
  text-align: center;
  color: #fff;
}
.sec3 .emdi1 .back11 {
  color: white;
  padding: 12px 50px;
  font-weight: bold;
}
.sec3 .emdi1 .back11:hover {
  background-color: white;
  color: #3fbbc0;
  transition: 0.6s;
  border: none;
}

.sec4 {
  text-align: center;
}
.sec4 .col {
  font-size: 13px;
  text-align: left;
}

.sec5 .col-2 {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin: 0px 50px;
}
.sec5 .col-2 i {
  color: #3fbbc0;
}

.sec6 {
  font-size: 13px;
}
.sec6 i {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  color: #3fbbc0;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px;
}
.sec6 .ic:hover i {
  color: white;
  background-color: #3fbbc0;
  transition: 0.7s;
}
.sec6 .ic:hover h4 {
  color: #3fbbc0;
  transition: 0.7s;
}

.sec7 .col-3 {
  margin: 0px 55px;
}
.sec7 .col-3 i {
  color: #3fbbc0;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
}
.sec7 .col-3:hover h4 {
  color: #3fbbc0;
  transition: 0.7s;
}

.sec8 .col-4 input,
.sec8 .col-4 select {
  padding: 10px;
  width: 95%;
  height: 40px;
}
.sec8 .col-4 select::-moz-placeholder {
  padding-left: 20px;
}
.sec8 .col-4 input,
.sec8 .col-4 select::placeholder {
  padding-left: 20px;
}
.sec8 button {
  width: 300px;
  background-color: #3fbbc0;
  color: white;
  margin-left: 550px;
}

.sec9 .dep {
  border-right: 3px solid #3fbbc0;
}
.sec9 .dep li {
  display: block;
  font-weight: 600;
  padding-top: 12px;
}

.sec10 .vv1 {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.sec11 .vv2 {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec11 .vv3 {
  margin-left: 160px;
}/*# sourceMappingURL=style.css.map */